<header class="site-header" data-theme="dark">
  <div class="nav-container">
    <div class="brand">
      <a href="./" aria-label="Golden Gate Management">Golden&nbsp;Gate</a>
    </div>

    <nav class="main-nav" aria-label="Site">
      <ul class="main-nav__list">
        <li class="main-nav__item">
          <a class="main-nav__link" href="./">Home</a>
        </li>
        <li class="main-nav__item">
          <a class="main-nav__link" href="housing/">Housing</a>
          <ul class="main-nav__submenu">
            <li><a href="housing/mens.html">Men's Student Housing</a></li>
            <li><a href="housing/womens.html">Women's Student Housing</a></li>
            <li><a href="housing/married.html">Married Housing</a></li>
          </ul>
        </li>
        <li class="main-nav__item">
          <a class="main-nav__link" href="applications.html">Applications</a>
          <ul class="main-nav__submenu">
            <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSdJKpcWEL1NpTFBsUoOWIwCQbsgZvm7pjQz9BdY5VqzcI0-2A/viewform" target="_blank" rel="noopener">Casa Dea</a></li>
            <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSfzTwxjn3LepV__Gp2rcdb4Gy5F6O2fwcvkyVgFIzx1Tpk-Eg/viewform" target="_blank" rel="noopener">Bungalow Houses</a></li>
            <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSd0OpXzmDw8vtuHQjomyw35D8Fo53zSEcJbBB01KYr4ZJ_YOA/viewform" target="_blank" rel="noopener">Inca Villa</a></li>
            <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSe8KLOQv_LHAZtPQB3GJz4hVp_mpR9mfC21wqGl4QfpIDhm1A/viewform" target="_blank" rel="noopener">Hope Valley</a></li>
          </ul>
        </li>
        <li class="main-nav__item">
          <a class="main-nav__link" href="waitlist.html">Waitlist</a>
        </li>
        <li class="main-nav__item">
          <a class="main-nav__link" href="maintenance.html">Maintenance</a>
        </li>
        <li class="main-nav__item">
          <a class="main-nav__link" href="payments.html">Payments</a>
          <ul class="main-nav__submenu">
            <li><a href="https://zb.rpropayments.com/Login/Buyer/167112/" target="_blank" rel="noopener">Casa Dea</a></li>
            <li><a href="https://zb.rpropayments.com/Login/Buyer/172162/" target="_blank" rel="noopener">Bungalow Houses</a></li>
            <li><a href="https://zb.rpropayments.com/Login/Buyer/164650/" target="_blank" rel="noopener">Inca Villa</a></li>
            <li><a href="https://zb.rpropayments.com/Login/Buyer/164653/" target="_blank" rel="noopener">Hope Valley</a></li>
          </ul>
        </li>
        <li class="main-nav__item">
          <a class="main-nav__link" href="resident-portal/">Resident Portal</a>
          <ul class="main-nav__submenu">
            <li><a href="resident-portal/bikes.html">Bikes</a></li>
            <li><a href="resident-portal/cleaning-checks.html">Cleaning Checks</a></li>
            <li><a href="resident-portal/move-in.html">Move-in</a></li>
            <li><a href="resident-portal/move-out.html">Move-out</a></li>
            <li><a href="resident-portal/parking.html">Parking</a></li>
            <li><a href="resident-portal/selling-contract.html">Selling Contract</a></li>
          </ul>
        </li>
      </ul>
    </nav>

    <a class="nav-cta" href="contact.html">
      <span class="cta-inner">
        Contact
        <svg width="12" height="12" viewBox="0 0 13 13" fill="none" aria-hidden="true">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M11.2539 6.11092L5.87125 0.728237L6.47607 0.123413L12.8768 6.52413L6.82855 12.5724L6.22373 11.9676L11.225 6.96627L0.61396 6.96627L0.61396 6.11092L11.2539 6.11092Z" fill="currentColor"/>
        </svg>
      </span>
    </a>

    <button class="nav-toggle" aria-expanded="false" aria-controls="primary-nav" aria-label="Toggle navigation">
      <span></span><span></span><span></span>
    </button>
  </div>
</header>
